

<div class="collection-item collection-item--stage-one-bmw-e81828788-1-series-base-audio" data-sku="BSD.S1.E81E82E87.BA-Kit" data-gtm-name="Bavsound Coaxial Stage One BMW Speaker Upgrade for E81/E82/E87 with Base Audio" data-gtm-id="BSD.S1.E81E82E87.BA-Kit" data-gtm-price="499.00" data-gtm-brand="Bavsound LLC" data-gtm-product-id="8529273041" data-gtm-variant-id="30209651345" data-gtm-variant="Default Title" data-gtm-list-type="Build Your Kit" data-gtm-category="All Products, Build Your Kit, Bundle/Kit Items, Stage One Speaker Upgrades, ">
   <div class="collection-item__content">
      <div class="collection-item__header">
         <h5>{{ product.title }}</h5>
      </div>

      <div class="collection-item__image">
         <img class="lazyload" src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}" data-open-modal-id="{{  product.id }}">
      </div>
      <div class="collection-item__price-wrap">
         <span class="collection-item__price">$499 </span><!--
            -->
         <div class="affirm affirm--product hidden affirm--product-tile" data-affirm-amount-raw="49900">
            As low as <span data-affirm-amount="">$</span> / per month at 0% APR <a class="affirm__link" role="button" aria-label="Open Affirm Modal" data-affirm-open="">Prequalify Now</a>
         </div>
         <a class="affirm-as-low-as" data-amount="49900" style="display: none"></a>
         <button class="add-to-cart byk__add-to-cart btn btn--secondary" add-to-cart="" data-variant-id="30209651345" data-variant-qty="1" type="button" onclick="">
            <div class="add-to-cart__text" data-atc-text="">Add to cart <span class="icon-right-dir"></span></div>
            <div class="add-to-cart__text add-to-cart__text--success" data-atc-text-success="">Added <span class="close-icon"></span></div>
         </button>
         <div class="collection-item__checkmark"></div>
         <span class="byk__product-more-info" data-test="x" href="/products/stage-one-bmw-e81828788-1-series-base-audio" data-open-modal-id="8529273041">See More Details</span>
      </div>
      <div class="collection-item__description hide">
         GET UNBELIEVABLE, CRYSTAL CLEAR SOUND. JUST BY REPLACING YOUR BMW'S SPEAKERS
         We took your factory BMW speakers and re-engineered our upgrade for one thing: clarity. So you can simply swap your original speakers for ours without changing anything else in your audio system, and the result is smoot...
      </div>
   </div>
</div>

{% schema %}
{
    "name": "One item",
    "settings": [

    ], 
    "presets": [
        {
            "name": "One item"
        }
    ]
}
{% endschema %}

